<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h2 class="text-center">About Me</h2>
        <hr />
        <p>
          I am a student, problem-solver, climate-tech enthusiast and athlete. I
          think creatively and love to build in a variety of disciplines with a
          wide range of techniques.
        </p>
        <p>
          I am a fourth-year student at Claremont McKenna College with a major
          in Computer Science at Harvey Mudd College. I have software
          engineering experience in the automotive space, writing software for
          hardware, and writing software for the web. I have intimate experience
          with web service integrations and making use of AI-powered tools and
          APIs.
        </p>
      </div>
      <div class="col-sm-6">
        <h2 class="text-center">Interests</h2>
        <hr />
        <ul>
          <li>Deep learning: neural networks, training AI models</li>
          <li>
            Building with my hands: woodworking, welding, soldering, laser
            cutting
          </li>
          <li>
            Music: saxophone, singing (barely), harmonica (kinda), guitar (just
            chords), piano (now I'm completely lying)
          </li>
          <li>
            Board sports: snowboarding, skating, surfing, kiteboarding,
            wakeboarding, wake surfing
          </li>
          <li>
            Traveling: preferrably somewhere Spanish, English or German is
            spoken, but I've been all over!
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
