<div class="container">
  <footer
    class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top"
  >
    <div class="col-md-4 d-flex align-items-center">
      <a
        href="/"
        class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1"
      >
        <svg class="bi" width="30" height="24">
          <use xlink:href="#bootstrap" />
        </svg>
      </a>
      <span class="mb-3 mb-md-0 text-muted">&copy; 2023 David Enders</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3">
        <a
          href="https://github.com/davidenders11"
          class="btn-social btn-outline"
          target="_blank"
          ><i class="fa fa-fw fa-github"></i
        ></a>
      </li>
      <li class="ms-3">
        <a
          href="https://www.linkedin.com/in/david-enders/"
          class="btn-social btn-outline"
          target="_blank"
          ><i class="fa fa-fw fa-linkedin"></i
        ></a>
      </li>
    </ul>
  </footer>
</div>
