<nav class="navbar sticky-top navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="navbar-header page-scroll">
      <a class="navbar-brand" href="./">{{site.title}}</a>
      <a
        href="https://github.com/davidenders11"
        class="btn-social btn-outline"
        target="_blank"
        ><i class="fa fa-fw fa-github"></i
      ></a>
      <a
        href="https://www.linkedin.com/in/david-enders/"
        class="btn-social btn-outline"
        target="_blank"
        ><i class="fa fa-fw fa-linkedin"></i
      ></a>
      <!-- <a href="{{site.social.medium}}" class="btn-social btn-outline"
            ><i class="fa fa-fw fa-medium"></i
          ></a> -->
    </div>
    <button
      class="navbar-toggler collapsed"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#mainnavbar"
      aria-controls="mainnavbar"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainnavbar">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="./resume.pdf">Resume</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./posts.html">Posts</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
